meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
if pageTitle
  title #{pageTitle} | #{en.site.name}
else
  title #{en.site.name}
meta(name="description" content=pageDescription)
if pageKeywords
  meta(name="keywords" content=pageKeywords)

block css
  link(rel="stylesheet" href="/assets/css/site.css")

link(rel="canonical" href=site.url + pageAbsolutePath)

meta(name="format-detection" content="telephone=no")

if pageOgpTitle
  meta(property="og:title" content=pageOgpTitle + ' | ' + en.site.name)
else
  meta(property="og:title" content=en.site.name)
meta(property="og:type" content=pageOgpType)
meta(property="og:image" content=site.url + pageOgpImage)
meta(property="og:url" content=site.url + pageAbsolutePath)
meta(property="og:description" content=pageDescription)
meta(property="og:site_name" content=en.site.name)
meta(property="og:locale" content="en")

if en.site.fbAppId
  meta(property="fb:app_id" content=en.site.fbAppId)
else if en.site.fbAdmins
  meta(property="fb:admins" content=en.site.fbAdmins)

if en.site.twitterCard
  meta(name="twitter:card" content=en.site.twitterCard)
if en.site.twitterSite
  meta(name="twitter:site" content=en.site.twitterSite)

script.
  document.documentElement.classList.remove('no-js')
