<p>{{desctiption}}</p>
<a class="sw-Button {{variant}}" href="#">{{text}} a</a>
<a class="sw-Button {{variant}} -disabled" href="#" tabindex="-1">{{text}} a</a>
<button class="sw-Button {{variant}}">{{text}} button</button>
<button class="sw-Button {{variant}}" disabled>{{text}} button</button>
<input class="sw-Button {{variant}}" type="button" value="{{text}} input">
<input class="sw-Button {{variant}}" type="button" value="{{text}} nput" disabled>
<a class="sw-Button {{variant}}" href="#">
  <svg class="sw-Button_More" role="img">
    <use xlink:href="/assets/svg/sprite.svg#right-arrow1"></use>
  </svg>
  {{text}} Arrow
</a>
