if components.length
  nav
    h2.aigis-module__heading TOC
    ul.aigis-moduleList
      each component in components
        li.aigis-moduleList__item
          a(href="#" + component.config.name) #{component.config.name}
  each component in components
    .aigis-module
      h2.aigis-module__heading(id=component.config.name) #{component.config.name}
      .aigis-module__filepath!= component.sourcePath
      div.aigis-module__label
        span.sw-Label #{component.config.id}
      != component.html
else
  != html
