.aigis-sidemenu
  header.aigis-header
    a(href=root + "index.html") #{config.name}
  h2.aigis-sidemenu__heading ID
  nav.aigis-tags.aigis-tagList
    each id in config.collection.id
      a.aigis-tags__item(class="aigis-id__item--" + id, href=root + "id/" + id + "/index.html") #{id}

  h2.aigis-sidemenu__heading Category
  nav.aigis-categoryList
    != helper.renderCollectionTree("category")

  h2.aigis-sidemenu__heading Namespace
  nav.aigis-tags.aigis-tagList
    each namespace in config.collection.namespace
      a.aigis-namespace__item(class="aigis-namespace__item--" + namespace, href=root + "namespace/" + namespace + "/index.html") #{namespace}

  h2.aigis-sidemenu__heading
    a(href=root + "color.html") All Colors
